@import "tailwindcss";

/* Custom styles can be added below */
@layer base {
  /* Custom base styles */
    @theme {
        --color-primary: #003563;
        --color-c-gray: #636363;
        --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
    }

    .container {

        @media (width >= 80rem) {
            max-width: 80rem !important;
        }

        @media (width >= 64rem) {
            max-width: 64rem;
        }

        @media (width >= 48rem) {
            max-width: 48rem;
        }

        @media (width >= 40rem) {
            max-width: 40rem;
        }
    }

    button {
        @apply cursor-pointer;
    }

    .descr-section {
        @apply flex flex-col gap-4;
    }

    .importClasses {
        @apply w-[150px];
    }

    .partnerImg > img, .partnerImg > p {
        @apply w-[115px] md:w-[150px];
    }

    body { @apply !font-sans; }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}